body {
    background-color: rgb(53, 53, 53);
}



.char {
    content: 'whatever it is you want to add';
    color: white;
    margin-top: 25%;
    margin-left: 25%;
    font-size: 200%;
    position: absolute;
}

.powersUps {
    position: fixed;
    font-size: 200%;
    color: green;
}

.disable {
    color: transparent
}